<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="192.168.0.17" />
    <add key="port" value="3306" />
    <add key="database" value="data1" />
    <add key="userid" value="Jin" />
    <add key="password" value="rex840406" />
    
    <add key="job_table" value="schedule_job" />
    <add key="job_table_jobid" value="jobid" />
    <add key="job_table_priority" value="priority" />
    <add key="job_table_duration" value="duration" />
    <add key="job_table_dates" value="dates" />
    <add key="job_table_windows" value="windows" />
    <add key="job_table_tags" value="tags" />
    
    <add key="operative_table" value="schedule_operative" />
    <add key="operative_table_personid" value="personid" />
    <add key="operative_table_tags" value="tags" />
    <add key="operative_table_dates" value="dates" />
    <add key="operative_table_max_driving" value="max_miles" />
    
    <add key="travel_time_table" value="schedule_travel_times" />
    <add key="travel_time_table_from" value="fromloc" />
    <add key="travel_time_table_to" value="toloc" />
    <add key="travel_time_table_duration" value="duration" />

    <add key="result_table" value="schedule_results" />
    <add key="result_table_date" value="date" />
    <add key="result_table_personid" value="personid" />
    <add key="result_table_jobid" value="jobid" />
    <add key="result_table_start_time" value="start_time" />
    <add key="result_table_end_time" value="end_time" />
    <add key="result_table_duration" value="duration" />
    <add key="result_table_task_type" value="task_type" />

    <add key="iteration_limit" value="12" />
    
  </appSettings>
</configuration>
